<!DOCTYPE html>
<html lang="en">
  <head>
    <script type="text/javascript" src="js/menu.js" defer></script>
    <script src="js/js_script.js" defer></script>
    <script src="js/vue_script.js" defer></script>
    <script src="https://vuejs.org/js/vue.js"></script> 
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap" rel="stylesheet">
    <title>Rob's Tasty Burgers</title>
    <meta charset="utf-8"/>
  </head>
  <body>
    <header>
      <h1>Welcome to Rob's Tasty Burgers</h1>
      <img src="https://previews.123rf.com/images/alxyzt/alxyzt1712/alxyzt171200042/90996098-seamless-pattern-of-burgers-background-for-fast-food-packing-poster-.jpg">
    </header>
    <main>
      <section id="burgers">
	<h2>Select your Burger</h2>
	<p>Here you choose your burger.</p>
	<div id="wrapper">
	  <div v-for="burger in menuCopy">
	    <h3>{{burger.name}}</h3>
	    <img v-bind:src="burger.imgPath">
	    <h4>{{burger.desc}}</h4>
	    <p>
	      Contains {{burger.kcal}} kCal
	    </p>
	    <ul>

	      <li v-if="burger.lactose">Lactose</li>
	      <li v-if="burger.gluten">Gluten</li>
	      
	    </ul>
	    <input type="checkbox" v-bind:id="burger.name" v-bind:value="burger.name" v-model="burgers">
	  </div>
	  
	</div>
      </section>
      <section id="info">
	<h2>Customer Information</h2>
	<p>Here you provide customer info</p>
	<h3>Delivery details:</h3>
	<form>
	  <p>
	    <label for="name">Full name</label><br>
	    <input type="text" id="name" name="n" required="required" v-model="name" placeholder="First- and Last name" />
	  </p>
	  <p>
	    <label for="email">E-mail</label><br>
	    <input v-model="email" type="email" id="email" name="em" required="required" placeholder="E-mail address" />
	  </p>
	  <p>
	    <label for="street">Street</label><br>
	    <input v-model="street" type="text" id="street" name="str" placeholder="Street name" />
	  </p>
	  <p>
	    <label for="housenumber">House</label><br>
	    <input v-model="number" type="number" id="housenumber" name="hse" placeholder="House number" />
	  </p>
	  
	  <p>
	    <label for="paymethod">Payment method</label><br />
	    <select v-model="pay" id="paymethod" name="pmth">
              <option selected="selected" >Mastercard/Visa</option>
              <option>Cash</option>
              <option>Paypal</option>
              <option>Bitcoin</option>
              <option>Natura</option>
	    </select>
	  </p>
	  <p>
	    <label for="gender">Gender</label><br>
	    <input type="radio" name="gender" id="male" value="male" v-model="gender">
	    <label for="male">Male</label><br>
	    
	    <input type="radio" name="gender" id="female" value="female" v-model="gender">
	    <label for="female">Female</label><br>
	    
	    <input checked="checked" type="radio" name="gender" id="chopper" value="Attack helicopter" v-model="gender">
	    <label for="chopper">Attack helicopter</label><br>

	    <input type="radio" name="gender" id="other" value="other" v-model="gender">
	    <label for="other">Other</label><br>
	  </p> 
	  
	</form>
	
	<button type="submit" v-on:click="markDone(name, email, street, number, pay, gender, burgers)" id="orderButton"><img src="https://toppng.com/uploads/preview/delivery-icon-transparent-background-shipping-cost-ico-11562852302e3mtlf1bfz.png" width="30" height="30"/>Place order</button>
      </section>
      <div id="customerInfo">
	
      </div>
    </main>
    <footer>
      <hr>
      <p>Robert Paananen Copyright&copy; 2020</p>
    </footer>
  </body>
</html>
