



body{
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.2em;
    margin: 0 auto;
}

.allergy{
    font-weight: bold;
}

#burgers{
    background-color: black;
    
}

#burgers li{
    color:white;
}

#nfo{
    
}

button:hover{
    background-color: lightblue;
    cursor: pointer;
}

#burgers img{
    width: 300px;
    height: 300px;
}


table td{
    width: 20%;
}


table{
    margin: 0 auto;
    width: 75%;
}

section{
    margin: 3vw;
}

h1{
    text-align: center;
}

button{
    margin-top: 2%;
}
